/* body */
body {
    background-color: var(--bs-dark);
}

/* barra de navegación */
.navbar a {
    color: white;
}

.navbar .nav-item {
    margin-left: 2%;
}

.neon {
    text-shadow: 0 0 5px #f2f2f2, 0 0 25px #ffee02;
}

.neon--morado {
    text-shadow: 0 0 5px #f2f2f2, 0 0 25px #7004fd;
}

/* tecnologias */
.main__img--logo {
    width: 95%;
    margin: 10px 2% 0 2%;
}


/* informacion de servicios */
.main__article--ofrecemos {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    align-items: center;
}

.main__section--ofrecemos {
    width: 45%;
    margin: 30px;
    color: #fdfdfd;
}

.main__h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main__span {
    display: block;
    text-transform: uppercase;
    font-weight: 400;
}

p a {
    color: white;
    text-decoration: none;
    text-decoration: underline;
}
p a:hover {
    color: #CBCBCB;
}

#contactanos_atajo a {
    text-decoration: none;
    color: white;
    transition: 0.2s ease;
}
#contactanos_atajo a:hover {
    color: var(--bs-blue);
    cursor:pointer;
}
#contactanos_atajo a:hover {
    color: var(--bs-blue);
    cursor:pointer;
}
#flecha_redireccionar {
    position: relative;
}
#flecha_redireccionar .text-center {
    position: absolute;
    right: 49%;
    animation: animacion-flecha 0.7s infinite;
}
@keyframes animacion-flecha {
    0% {
        transform: translateY(-7px);
        opacity: 0;
    }
    50% { opacity: 1; }
    100% {
        transform: translateY(7px);
        opacity: 0;
    }
}

@media (max-width: 1250px) {
    .main__section--ofrecemos {
        width: 80%;
    }
}

/* carousel imágenes */
#carouselProyectos {
    max-width: 400px;
}
.carousel-item img {
    border: solid 2px ;
}

/* parte prodcutos servicios, descripcion, etc */
.main__article--productos {
    max-width: 95%;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.main__section--productos {
    width: 300px;
    border-radius: 30px;
    background: linear-gradient(2deg, rgb(74, 4, 194), rgba(109, 92, 190, 0.608));
    box-shadow: -9px 9px 3px #464972,
        9px -9px 3px #5b6685;
    padding: 30px;
    color: #f2f2f2;
    margin: 30px;
    display: grid;
}

.main__h2--prouuctos {
    text-align: center;
    font-family: 'Lobster', cursive;
}

.main__ul--productos {
    padding: 0;
}

.main__li--productos {
    list-style-type: none;
}

.posicion {
    align-content: end;
    background-color: #fdfdfd;
    color: #000;
}

/* Estilos  quienes_somos.html*/

.body_quienesSomos{
    background-color: #000;
}

.img_quienesSomos {
    align-items: center;
    margin-top: 3%;
}


.main_quienesSomos {
    font-size: 25px;
    color: aliceblue;
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: 5px 1.5em 5px 1.5em;
}

#form_qs {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#form_qs h2 {
    text-align: center;
    font-size: 40px;
    color: aliceblue;
}

#form_qs p {
    text-align: center;
    font-size: 40px;
}

#form_qs label {
    font-size: 50px;
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover,
label:hover~label {
    color: orange;
}

input[type="radio"]:checked~label {
    color: orange;
}



/* Footer Estilos */
footer {
    padding: 5% 15%;
    margin-top: 5%;
    color: white;
}

#redes-sociales * {
    margin: 1% 0 1%;
}

#redes-sociales i,
span {
    font-size: 1.5rem;
    margin-bottom: 3%;
    margin-right: 2%;
    transition: 0.1s ease;
    cursor: pointer;
    font-weight: 200;
}

#redes-sociales span:hover,
i:hover {
    font-weight: 600;
}

#formulario-contacto * {
    background: var(--bs-dark) !important;
    color: white;
    margin-top: 2%;
}

footer .text-center {
    margin-top: 3%;
}

/* Página integrantes */

.img-container {
    margin-top: 40px;
    display: block;
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
}




